<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>417228801167-gpfljh9op33fr91sb8ovbrinuv11maae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417228801167-gpfljh9op33fr91sb8ovbrinuv11maae</string>
	<key>API_KEY</key>
	<string>AIzaSyDGSz1x7ZWPeMU_SmkgMf4MbCjcj-WhdDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>417228801167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubenmayer.crowdampmessaging</string>
	<key>PROJECT_ID</key>
	<string>crowdamp-messaging</string>
	<key>STORAGE_BUCKET</key>
	<string>crowdamp-messaging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:417228801167:ios:52c22336a255d070</string>
	<key>DATABASE_URL</key>
	<string>https://crowdamp-messaging.firebaseio.com</string>
</dict>
</plist>